<header class="flex flex-col items-center gap-4 w-[90%] max-w-200 mt-0 mx-auto mb-8 text-center bg-[linear-gradient(to_bottom,#2c0a4c,#450d80)] p-4 rounded-br-xl rounded-bl-xl shadow-[0_1px_8px_rgba(0,0,0,0.6)] md:p-8">
    <img src="assets/task-management-logo.png" alt="EasyTask Logo" class="w-14 object-contain md:w-18"/>
    <div>
        <h1 class="text-xl m-0 p-0 md:text-2xl md:m-0 md:p-0">EasyTask</h1>
        <p class="text-sm m-0 text-balance">Enterprise-level task management without friction</p>
    </div>
</header>